---
import Layout from "@/layouts/Layout.astro";
import PlanDetailsView from "@/components/PlanDetailsView";

const { id } = Astro.params;

if (!id) {
  return Astro.redirect("/plans");
}

export const prerender = false;
---

<Layout title="Plan Details - CityFlow">
  <main class="container mx-auto px-4 py-8 max-w-6xl">
    <PlanDetailsView client:load planId={id} />
  </main>
</Layout>

